:root {
  --jerma-red: #ff5e70;
  --jerma-blue: #80ead9;
  font-family: 'Inconsolata', monospace;
}

body {
  Background-color: black;
  color: var(--jerma-red);
}

h1 {
  color: var(--jerma-blue);
}
h3{
  color: var(--jerma-blue);
}
