:root {
  --minimal-red: #ef3d59;
  --minimal-orange: #e17a47;
  --minimal-yellow: #efc958;
  --minimal-aqua: #4ab19d;
  --minimal-blue: #344e5c;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inconsolata', monospace;
  background-color: var(--minimal-blue);
}

div {
  /* border-radius: .25em; */
}

.navbar {
  margin-top: 0em;
  position: fixed;
  background-color: var(--minimal-red);
  width: 100%;
  z-index: 200;
  animation: from-top 1000ms forwards;
  opacity: 0;
}

@keyframes from-top {
  from {
    transform: translateY(-3em);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  top: 90%;
  left: 0;
  background: black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.intro {
  /* margin-top: 5em;
  margin-bottom: 3em; */
  padding-top: 4em;
}
.intro ul li a {
  text-decoration: none;
  font-weight: 700;
  color: var(--minimal-blue);
  transition: .2s;
}
.intro ul li a:hover{
  color: var(--minimal-aqua);
}


#welcome {}

#roles {}

#proficiencies {}

.projects {
  animation: from-below 1000ms forwards;
  animation-delay: 800ms;
  opacity: 0;
}

@keyframes from-below {
  from {
    opacity: 0;
    transform: translateY(5em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#gallery {
  background-color: var(--minimal-yellow);
}

#curr-project {
  background-color: var(--minimal-aqua);
  margin: 2em 0 4em 0;
}

#socials img {
  width: 3em;
  height: 3em;
  filter: brightness(10);
  transition: .15s;
  animation: fade-in 800ms forwards;
  animation-delay: 800ms;
  opacity: 0;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

#socials img:hover {
  filter: brightness(1);
}

#opening-text {
  background-color: var(--minimal-orange);
  animation: from-right 1000ms forwards;
  opacity: 0;
  animation-delay: 400ms;
}

@keyframes from-right {
  from {
    opacity: 0;
    transform: translateX(7em);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.contact {
  margin-top: 3em;
  color: white;
}

.contact h1 {
  margin-left: 40%;
}

.mb-3 {
  margin: 1em 1em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: var(--minimal-yellow);
}

.card-img-top {
  margin-top: 3em;
}

.card-body {
  margin-top: 3em;
}
#learnmore {
  border: var(--minimal-blue);
  background: var(--minimal-blue);
}

#learnmore:hover{
  border:var(--minimal-red);
  background: var(--minimal-red);
}
.btn {}

.curr-project {
  background-color: var(--minimal-aqua);
}

.contact a {
  text-decoration: none;
  color: var(--minimal-aqua);
  transition: .2s;
}
.contact a:hover{
  color: var(--minimal-red);
}
